@import 'settings.colors.scss';
@import 'settings.constants.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $main-font-color;
}

li {
  &.as-sortable-item {
    background: none;
    border: none;
  }
}
