@import 'settings.constants.scss';

.course {
  list-style: none outside none;
  padding: 0;
  text-align: center;
  width: $course-box-width;
  height: $course-box-height;
  color: $course-box-font-color;
  margin-bottom: 10px;

  .wrapper {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
    background: inherit;
  }

  .header-text {
    font-weight: bolder;
    font-size: x-small;
    padding: 1px;
    margin: 0;
    margin-top: -14.26px;
    z-index: 2;
    line-height: 1.1;
    color: $course-box-font-color;
  }

  .header-background {
    background: inherit;
    width: $course-box-width;
    height: 1em;
    filter: brightness(0.8);
    z-index: 1;
  }

  .details {
    flex: 1;
    padding: 10px 3px;
    position: relative;
  }

  .details p {
    margin: 0;
    font-size: x-small;
    line-height: 1.2em;
  }

  .credits {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;  
  }

}
