@import 'settings.constants.scss';
@import 'settings.colors.scss';

.term {
  float: left;
  text-align: center;
  width: $term-box-width;
  padding-bottom: $term-box-spacing;

  .term-box {
    border: 1.5px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-right: $term-box-spacing;
  }

  .credits-sum {
    font-size: $term-credits-font-size;
    margin-bottom: 4px;
  }
}
