@import 'settings.constants.scss';
@import 'settings.colors.scss';

.term {
  text-align: center;
  width: $term-box-width;

  .term-box {
    border: 1.5px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 0 $term-box-spacing;
  }

  .credits-sum {
    font-size: $term-credits-font-size;
    margin-bottom: 4px;
  }

  .term-title-editing-box {
    text-align:center;
    width: $course-box-width;
  }
}

