@import 'settings.colors.scss';
@import 'settings.constants.scss';

$year-title-height: 42px;

.year {
  text-align: center;
  border-style: solid;
  border-color: lightgray;
  border-width: 4px;
  margin-right: 10px;
  min-height: $year-box-height;

  >.title {
    height: $year-title-height;

    .dropdown {
      position: absolute;
      top: 0;
      right: 0;
      height: $year-title-height;
      color: $gray;

      :hover {
          color: $black;
      }

      button {
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        color: inherit;
      }
    }
  }

  .YEAR-TERM-DROPPABLE {
    flex: 1;
  }

  .year-title-editing {
    text-align: center;
  }

  .term-wrapper {
    display: flex;
    flex-flow: row;
  }
}
