/* put your breakpoint constants here */

/* Screen size variables */
$four-k: 2560px;
$laptop-large: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-large: 425px;
$mobile: 375px;
$mobile-small: 320px;

/* project breakpoints and constants */
$course-col-width: 88px;
$course-box-width: 75px;
$course-box-height: 80px;
$course-box-font-color: #FFFFFF;

$term-box-width: 100px;
$term-credits-font-size: 8pt;
$term-box-spacing: 8px;

$year-box-height: $course-box-height * 3 + 162px;
